* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    background-color: #F7F7F7;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header {
    padding: 20px;
    background-image: url("bg-light.jpg");
    color: #333;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
    transition: background-image 0.5s;
  }
  
  header h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.5s;
  }
  
  button:hover {
    background-color: #666;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  section {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
    cursor: pointer;
  }
  
  section:hover {
    transform: translateY(-10px);
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #F15F79;
    z-index: 9999;
    pointer-events: none;
    animation: cat 0.2s linear infinite;
  }
  
  @keyframes cat {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));
    }
  